@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

:root {
    --font-size-ten: 0.833rem;
    --font-size-eleven: 0.917rem;
    --font-size-twelve: 1rem;
    --font-size-eight: 0.667rem;
    --font-size-seven: 0.583rem;
    --font-size-fourteen: 1.167rem;
    --font-size-eighteen: 1.5rem;
    --font-size-fourty: 3.333rem;
    --font-size-sixteen: 1.333rem;
    --green-color: #76cc11;
    --soft-gray: #fafafa;
}

.bg {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -9999;
    display: flex;
}

.bg .gray-bg {
    background-color: var(--soft-gray);
    flex: 0 0 50%;
}

.bg .white-bg {
    background-color: white;
    flex: 0 0 50%;
}

p {
    margin-bottom: 0;
}

main {
    /* max-width: 1200px; */
    margin: auto;
    min-height: calc(100vh);
}

.eightpx-text {
    font-size: var(--font-size-eight);
}

.gray-text {
    color: gray;
}

.details
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 95px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 1rem;
}

.details .filter-option.pull-left {
    font-weight: 700;
    font-size: 1.6rem;
}

.details .abrev {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.details .btn {
    padding: 0;
}

.details .abrev-text-3 {
    font-weight: 700;
    font-size: var(--font-size-eighteen);
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 77px;
}
.btn-default.active,
.btn-default:active,
.btn-default:hover,
.btn-default:focus,
.open > .dropdown-toggle.btn-default {
    background: none !important;
    outline: none !important;
}

button {
    outline: none !important;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.btn-default {
    border: none;
    outline: none;
    background-color: white;
}
.filter-option.pull-left {
    color: white !important;
}
.container {
    position: relative;
    width: fit-content;
    margin: 0;
    padding: 0 5px !important;
}

.left-container {
    background-color: white;
    width: 50%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
}

.left-container > div {
    /* max-width: 400px; */
}

.accordion {
    max-width: fit-content;
}

.abrev-text-1,
.abrev-text-2 {
    margin: 0;
    text-align: left;
}
.caret {
    display: none;
}
.abrev {
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    z-index: 99;
    left: 35px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.angle-icon {
    margin-left: 0.5rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: gray !important;
    font-size: var(--font-size-ten);
    padding: 1rem;
    width: 50%;
    padding-bottom: 2rem !important;
}
.nav > div {
    /* flex: 0 0 0; */
    width: fit-content;
}

main {
    display: flex;
}

main > div {
    flex: 0 0 50%;
}

.back-btn {
    margin-right: auto;
}

.back-btn a {
    color: gray;
    text-decoration: none;
}

.back-btn:hover a {
    color: #76cc11;
}

.back-btn span {
    margin-left: 0.3rem;
}

.currency-picker-cont {
    display: flex;
    align-items: center;
}

.currency-picker-cont h1 {
    font-weight: 800;
    font-size: var(--font-size-fourty);
    word-break: break-all;
    margin-top: 0;
}

.currency-picker-cont p {
    font-size: var(--font-size-fourteen);
}

.toggle-btn {
    background: none;
    box-shadow: none;
    border: none;
    color: var(--green-color);
    margin: 1rem 0;
}

.cost-breakdown {
    margin-bottom: 1rem;
    font-size: var(--font-size-ten);
}

.cost-breakdown .cost {
    font-weight: 700;
}

.right-container .title {
    font-weight: 800;
    font-size: var(--font-size-sixteen);
}

.right-container {
    background-color: var(--soft-gray);
    width: 50%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.method-container {
    display: block;
    background-color: var(--soft-gray);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightgrey;
    color: gray;
    font-size: var(--font-size-eight);
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.img-container {
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: var(--font-size-eleven);
}

.method-container.empty .img-container {
    background-color: lightgrey;
}

.method-container.empty .img-container {
    border: 1px dashed black;
}
.method-container img {
    max-width: 80px;
}

.method-container:hover {
    text-decoration: none;
    color: gray;
    border: 1px solid var(--green-color);
}
.method-container.inactive img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.method-container button {
    border: none;
    background: none;
}

.method-container.accordion {
    text-align: left;
}

.method-container.accordion .accordion-tab button {
    margin-bottom: 0.5rem;
}

.method-container label {
    color: black;
    font-size: var(--font-size-ten);
}

.accordion-tab {
    margin-top: 1rem;
}

.arrow-icon {
    font-size: 1.5em;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.help-text {
    font-size: var(--font-size-eight);
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.accordion-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-ten);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.green-btn {
    background: var(--green-color) !important;
}
@media (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
    }
    .nav {
        width: 100%;
    }

    .bg {
        display: none;
    }
}
