/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", sans-serif;
    position: relative;
}

:root {
    --font-size-ten: 0.833rem;
    --font-size-eleven: 0.917rem;
    --font-size-twelve: 1rem;
    --font-size-eight: 0.667rem;
    --font-size-seven: 0.583rem;
    --font-size-fourteen: 1.167rem;
    --font-size-eighteen: 1.5rem;
    --font-size-fourty: 3.333rem;
    --font-size-sixteen: 1.333rem;
    --green-color: #76cc11;
    --soft-gray: #fafafa;
    --bg-gray: rgb(217, 217, 217);
    --gray: rgb(191, 191, 191);
    --darker-gray: rgb(127, 127, 127);
    --red-color: #ff0000;
}

.bg {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.red-color {
    color: var(--red-color);
}

.bg .gray-bg {
    background-color: var(--soft-gray);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.bg .white-bg {
    background-color: white;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

p {
    margin-bottom: 0;
}

main {
    margin: auto;
    min-height: calc(100vh);
}

.eightpx-text {
    font-size: var(--font-size-eight);
}

.gray-text {
    color: var(--darker-gray);
}

.details
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 88px;
    border-radius: 5px;
}

.currency-picker-cont .btn:not(:disabled):not(.disabled) {
    padding: 0.5rem 0;
}

.details .filter-option.pull-left {
    font-weight: 700;
    font-size: 1.6rem;
}

.details .abrev {
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.details .btn {
    padding: 0;
}

.btn {
    padding: 0 !important;
}

.details .abrev-text-3 {
    font-weight: 700;
    font-size: var(--font-size-eighteen);
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 55px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).lang {
    width: 50px;
}
.btn-default.active,
.btn-default:active,
.btn-default:hover,
.btn-default:focus,
.open > .dropdown-toggle.btn-default {
    background: none !important;
    outline: none !important;
}

button {
    outline: none !important;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default {
    border: none;
    outline: none;
    background-color: white;
}
.filter-option.pull-left {
    color: white !important;
}

.dropdown-menu.inner {
    max-height: 240px !important;
}
.container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0 5px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1rem;
}

.container.currency-container {
    margin-top: 0.9rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 !important;
    width: fit-content;
    margin-right: 0.7rem;
}

.container.country-container {
    margin-right: 0;
    padding: 0px !important;
}

.country-container {
    position: relative;
}

.country-container .btn {
    padding-left: 0;
}

.nav .container:hover .abrev {
    color: var(--green-color) !important;
}

.btn-light {
    background: none !important;
    border: none !important;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: transparent;
}
.show > .btn-light.dropdown-toggle {
    background: none;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.left-container {
    background-color: white;
    width: 50%;
    padding: 1rem 0rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 2rem;
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5rem;
    width: fit-content;
    margin: auto;
}
.collapse:not(.show) {
    display: block;
    height: 0px !important;
    overflow: hidden;
    margin-top: 0 !important;
}
.abrev-text-1,
.abrev-text-2 {
    margin: 0;
    text-align: left;
}
.caret {
    display: none;
}
.abrev {
    background-color: white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    z-index: 99;
    left: 0px;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.abrev:hover {
    color: #76cc11 !important;
}

.abrev.currency {
    border: 1px solid black;
    padding: 0.05rem 0.5rem;
    border-radius: 5px;
}

.nav-icon {
    margin-right: 0.3rem;
}

.nav-icon.location {
    margin-bottom: 0rem;
}

.lang-container .abrev {
    left: 50% !important;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}
.angle-icon {
    margin-left: 0.5rem;
}

a {
    text-decoration: none !important;
}

a:hover,
a:active {
    text-decoration: none;
    color: initial;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--gray) !important;
    font-size: var(--font-size-eleven);
    padding: 1rem;
    width: 100%;
    padding-bottom: 2rem !important;
}
.nav > div {
    /* flex: 0 0 0; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.sticky-container {
    position: sticky;
    top: 0;
    z-index: 999;
}
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.back-btn {
    margin-right: auto;
    cursor: pointer;
}
.back-btn * {
    cursor: pointer;
}

.back-btn a {
    color: var(--gray) !important;
    text-decoration: none;
}

.back-btn:hover a {
    color: var(--green-color) !important;
}

.back-btn span {
    margin-left: 0.3rem;
}

.currency-picker-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.currency-picker-cont h1 {
    font-weight: 800;
    font-size: var(--font-size-fourty);
    word-break: break-all;
    margin-top: 0;
}

.currency-picker-cont p {
    font-size: var(--font-size-fourteen);
}

.toggle-btn {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    color: var(--green-color);
    margin: 1rem 0;
}

.cost-breakdown {
    margin-bottom: 1rem;
    font-size: var(--font-size-ten);
}

.cost-breakdown .cost {
    font-weight: 700;
}

.right-container .title {
    font-weight: 800;
    font-size: var(--font-size-sixteen);
}

.right-container {
    background-color: var(--soft-gray);
    width: 50%;
    padding: 0 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    height: fit-content;
}

.right-container > div {
    width: 100%;
}

.method-container {
    display: block;
    background-color: white;
    padding: 0.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--bg-gray);
    color: var(--darker-gray);
    font-size: var(--font-size-eight);
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    min-width: 100%;
    text-decoration: none;
}

.img-container {
    margin: auto;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: var(--font-size-eleven);
    cursor: pointer;
    color: var(--darker-gray);
}

.payment-info {
    width: 80%;
    margin: auto;
    color: var(--darker-gray);
}

.method-container.empty .img-container {
    background-color: var(--bg-gray);
}

.method-container.empty .img-container {
    border: 1px dashed black;
}
.method-container img {
    max-width: 80px;
}

a:link,
a:visited {
    color: var(--darker-gray);
    text-decoration: none;
    cursor: auto;
}

a:link:active,
a:visited:active {
    color: var(--darker-gray);
}

.method-container * {
    text-decoration: none;
}

.method-container:hover {
    text-decoration: none;
    border: 1px solid var(--green-color);
}
.method-container.inactive img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

.method-container button {
    border: none;
    background: none;
}

.method-container.accordion {
    text-align: left;
}

.method-container.accordion .accordion-tab .continue-btn {
    margin-bottom: 0.5rem;
}

.method-container label {
    color: black;
    font-size: var(--font-size-ten);
    font-weight: 700;
    margin-bottom: 5px;
}

.accordion-tab {
    margin-top: 0.5rem;
}

.accordion-tab-inside button {
    width: 100%;
}

.qr-code {
    width: 100%;
    text-align: center;
}

.qr-code p {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-ten);
}
.qr-code .red-color {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

.qr-code img {
    margin: auto;
    max-width: none;
    max-width: 200px;
}

.arrow-icon {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    color: var(--gray);
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.arrow-icon.rotate {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.help-text {
    font-size: var(--font-size-eight);
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.accordion-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-ten);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.bordered-btn {
    border: 1px solid var(--green-color) !important;
    color: var(--green-color);
}

.bordered-btn:hover {
    background-color: var(--green-color);
    color: white;
}

.accordion-toggler {
    position: relative;
    margin: -0.5rem -1rem;
    padding: 0.5rem 1rem;
}

.green-btn {
    background: var(--green-color) !important;
}

.green-btn:hover {
    background-color: #71c215 !important;
}

footer {
    padding: 90px 0 136px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
}
footer.hide {
    display: none;
}

footer a:hover {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}

footer a {
    color: var(--gray) !important;
}

footer img {
    width: 12rem;
    margin-bottom: 30px !important;
    font-size: 1rem;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.4);
}
footer h3 {
    margin-bottom: 18px;
    color: #fff;
}
footer .row:first-of-type::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
}

.bg-dark {
    background-color: rgb(38, 38, 38) !important;
}
.text-bold {
    font-weight: 700;
}

.black-color {
    color: black !important;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block;
}

.mx-auto {
    margin: auto;
}
.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    footer {
        padding: 90px 0 70px;
    }
}

@media (max-width: 700px) {
    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .left-container,
    .right-container {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container.currency-container {
        margin-right: 0.5rem;
    }
    .right-container {
        padding-top: 2rem;
    }
    .details {
        padding: 0;
    }
    .nav {
        width: 100%;
        padding: 1rem 0;
    }

    .bg {
        display: none;
    }

    .country-container .dropdown-menu {
        right: 0;
        left: auto;
        max-width: 300px;
    }

    .details
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 85px;
        margin-right: 0;
    }

    .details {
        display: block;
    }
}

@media (max-width: 550px) {
    :root {
        --font-size-fourty: 1.667rem;
        --font-size-fourteen: 0.833rem;
        --font-size-sixteen: 0.917rem;
        --font-size-ten: 0.75rem;
        --font-size-eight: 0.583rem;
    }
    .details .abrev-text-3 {
        font-size: var(--font-size-ten);
    }
    .details
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 65px;
        margin-right: 0;
    }

    .container.currency-container {
        margin-top: 0;
    }

    .country-container .dropdown-menu.show {
        max-width: 200px;
        left: -450% !important;
        transform: none !important;
        top: 100% !important;
    }
    .lang-container .dropdown-menu.show {
        left: -20px !important;
    }

    .dropdown-menu.show {
        max-width: 300px;
    }
}
